
.img-retour{
    width: 50px;
    height: 50px;
    margin-left: 20%;
}

.img-profilpost{
    margin-left: 25%;
    width: 40%;
    height: auto;
}

.img-post{
    margin-left: 25%;
    width: 40%;
    height: auto;
}

.img-like{
    margin-left: 25%;
    width: 40%;
    height: auto;
}

.img-description{
    margin-left: 25%;
    width: 40%;
    height: auto;
}



footer{
    margin-left: 25%;
    color: grey;
    font-size: 15px
}