

body{
    background-color: white;
    color:black;
    margin-left: 30%;
    margin-right: 20%;
}

nav,header,section,footer{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

nav{
    display: flex;
    flex-direction: row;
}
.img-logo{
    width: 50px;
    height: auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
nav ul a{
    text-decoration: none;
    color: black;
}
nav ul li{
    font-style: bold;
}

header{
    margin-left: 0%;
    width: 30%;
    height: 30%;
}
.img-stories{
    width: 700px;
    height: auto;
}

.img-post1{
    margin-left: 10%;
    width: 70%;
    height: auto;
}
.img-like{
    margin-left: 10%;
    width: 70%;
    height: auto;
}
.img-gif{
    margin-left: 10%;
    width: 70%;
    height: auto;
}
.img-description{
    margin-left: 10%;
    width: 70%;
    height: auto;
}







h2{
    color: red;
}
footer{
    text-align: center;
    color: grey;
    font-size: 10px
}